/* 
     Author : Azhar Hussain Masum
     Email: azhar.neub@gmail.com
     Website: http://azharmasum.com
     Facebook: https://www.facebook.com/azhar.hussainmasum
*/

body{
    font-family: 'Open Sans', sans-serif;
}

/*--====Header Start Here====--*/
header{
    background: url("../img/bg-shadow.png"),url("../img/bg-header.jpg") no-repeat no-repeat center center;
    background-size: cover,cover;
    padding:30px 0px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding:16px 15px 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-toggle {
    margin-right: 0;
    border-color:transparent!important;
}
.main-menu{
    background-color: transparent;
    border: 0;
}
#menu ul{
    margin-top: 20px;
}
span.menu {
    position: relative;
    right:90px;
    float: right;
    top: 15px;
    color: white;
}
#menu ul li a{
    color: white;
    font-size: 16px;
    font-weight:600;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3F444A;
}
#menu ul li a:hover{
    color: darkred;
    text-decoration: none;
    background-color: #E6E6E6;
}
.header-text{
    text-align: center;
    color: #FFFFFF;
    padding:95px 0px;
}
.header-text h1{
    font-size:50px;
    margin:0 0 15px 0;
    font-weight: 800;
}
.header-text h1 >span{
    font-size:50px;
    margin:0 0 15px 0;
    font-weight: 800;
    color: #F7600E;
}

.white-space{
    white-space: pre-line;
}
.header-text .pp{
    font-size:18px;
}
.header-text p a{
    padding:10px 50px;
    border-radius:8px;
    color: #FFFFFF;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 15px;
}
.btn1{
    padding:10px 65px!important;
    background: #F7600E;
    border-color: transparent;
}
.btn2{
    background: transparent;
    border-color: #65696E;
}
.arrow a img{
    transition: 1s ease all;
}
.arrow a img:hover{
    transform: rotate(360deg);
}
/*--====Header End Here====--*/

/*====service Start Here====--*/
#service{
    padding: 50px 0 20px;
}
.title{
    text-align: center;
    padding-bottom: 40px;
}
.title > h2{
    font-weight: 600;
}
.title P{
    white-space: pre-line;
}
.span{
    color: #F7600E;
}
#service .thumbnail{
    background: transparent;
    border: 0;
    padding: 20px 0px;

}
.service-demo{
    text-align: center;
    margin-bottom: 30px;
}

.service-demo img{
    width: 100px;
    height: 100px;
}
.service-demo h4{
    font-size: 16px;
    color:#42484F;
    font-weight: 600;
}


/*====service End Here====--*/


/*--====Newsletter Start Here====--*/
#newsletter{
    background: url("../img/newslatter-bg.jpg") no-repeat no-repeat center center;
    background-size: cover;
    padding:65px 0px;
}
.form-control{
    border-radius:7px;
}
.subscribe .form-control{
    background-color: #F7600E;
    border-color:transparent;
    font-weight: 600;
    color: #fff;
}
/*--====Newsletter End Here====--*/

/*--====Works Start Here====--*/
#work{
    padding:40px 0px;
}

#work .thumbnail{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#work .thumbnail:hover .overlay{
    opacity: 1;
    top: 0;
}
#work .thumbnail:hover .overlay1{
    opacity: 1;
    top: 0;
}
#work .thumbnail:hover .overlay2{
    opacity: 1;
    left: 0;
}
#work .thumbnail:hover .overlay3{
    opacity: 1;
    right: 0;
}
#work .thumbnail:hover .overlay4{
    opacity: 1;
    transform: scale(1);
}
.overlay {
    position: absolute;
    top:100%;
    left: 0;
    opacity: 0;
    transition:1s ease all;
    width: 100%;
    padding:80px 0px;
    color:white;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(224, 88, 15, 0.73);
}
.overlay1{
    position: absolute;
    top:-100%;
    left: 0;
    opacity: 0;
    transition:1s ease all;
    width: 100%;
    padding:80px 0px;
    color:white;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(224, 88, 15, 0.73);
}
.overlay2{
    position: absolute;
    top:0;
    left:-100%;
    opacity: 0;
    transition:1s ease all;
    width: 100%;
    padding:80px 0px;
    color:white;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(224, 88, 15, 0.73);
}
.overlay3{
    position: absolute;
    top:0;
    right:-100%;
    opacity: 0;
    transition:1s ease all;
    width: 100%;
    padding:80px 0px;
    color:white;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(224, 88, 15, 0.73);
}
.overlay4{
    position: absolute;
    top:0;
    right:0;
    transform: scale(0.55);
    opacity: 0;
    transition:1s ease all;
    width: 100%;
    padding:80px 0px;
    color:white;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(224, 88, 15, 0.73);
}
.thumbnail a{
    padding: 10px 35px;
    border-radius: 7px;
}
#work .btn-work{
    padding: 10px 35px;
    border-radius: 7px;
    font-weight:600;
    transition:0.75s ease all;
    border-color: #555;
    margin:30px 0;
}
#work .btn-work:hover{
    color: white;
    background-color: #011A30;
}
/*--====Works End Here====--*/
/*=====---Slider Start Here ----========*/
#client {
    background: url(../img/slider-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height:65vh;
}
#client .carousel{
    height:65vh;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}
.slider-caption{
    text-align: center;
    color: white;
}
.slider-caption .thumbnail{
    background: transparent;
    border: 0;
}   
.carousel-control.left {
    background-image:none;
    /*    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);*/
    /* background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001))); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    /* background-repeat: repeat-x; */
}
.carousel-control.right {
    background-image:none;
    /*    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);*/
    /* background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001))); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    /* background-repeat: repeat-x; */
}

/*=====---Slider End Here ----========*/

/*****==============Team Start Here================******/
#team{
    padding:40px 0px;
}
#team .title{
    padding-bottom: 0;
}
#team .thumbnail{
    padding: 0;
    border: 0;
    padding: 25px 0px;
}
#team .thumbnail img{
    transition: 1s ease all;
    transform: scale(.80);
    opacity: 0.6;
}
#team .thumbnail img:hover{
    transform: scale(.90);
    opacity: 1;
    border-bottom:5px solid #F7600E;
    margin-top: -10px;
}
#team .thumbnail .caption{
    padding: 0;
    text-align: center;
    border: 0;
}
#team .thumbnail .caption h1{
    font-size:20px;
    font-weight: 600;
    color: #3C444D;
    margin-top:5px;
}
#team .thumbnail .caption p{
    white-space: pre-line;
    font-size: 13px;
    color: #60676E;
}
#team .thumbnail .caption .social a{
    padding: 0;
    width:25px;
    display: inline-block;
    height:25px;
    border-radius: 50%;
    line-height:25px;
    text-align: center;
    font-size:14px;
    background-color: #3B434C;
    color: #fff;
    transition:0.47s ease all;
}
#team .thumbnail .caption .social li a:hover{
    transform: scale(1.20);
}
#team .thumbnail .caption .social li:first-child a:hover{
    background-color: #205B9F;
}
#team .thumbnail .caption .social li:nth-child(2) a:hover{
    background-color: #00ACE3;
}
#team .thumbnail .caption .social li:last-child a:hover{
    background-color: #FF3921;
}                     /*****==============Team End Here================******/

/*--====Contact Start Here====--*/
#contact{
    background: url("../img/bg-foooter.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding:70px 0px;
}
.contact-title{
    color: white;
}
#contact button[type="submit"]{
    background-color: #F7600E;
    color: white;
    font-weight: 600;
    border-color: transparent;
    transition: 0.4s ease all;
}
#contact button[type="submit"]:hover{
    background-color:#23527c;
}
#contact .social{
    padding:5px 0px;
    text-align: right;
}
#contact .social a{
    padding: 0;
    width:23px;
    display: inline-block;
    height:23px;
    border-radius: 50%;
    line-height:23px;
    text-align: center;
    font-size:13px;
    background-color: #3B434C;
    color: #fff;
    transition:0.47s ease all;
}
#contact .social li a:hover{
    transform:scale(1.5);
}
#contact .social li a{
    transform: scale(1.20);
}
#contact .social li:first-child a{
    background-color: #205B9F;
}
#contact .social li:nth-child(2) a{
    background-color: #00ACE3;
}
#contact .social li:nth-child(3) a{
    background-color: #FF3921;
}
#contact .social li:nth-child(4) a{
    background-color: #FF79A9;
} 
#contact .social li:last-child a{
    background-color: #0786B6;
}  
/*--====Contact End Here====--*/
/*--====Bottom-Footer Start Here====--*/
#bottom-footer{
    padding:25px 0px 10px 0px;
    background: #3B434C;
    color: white;
}
.design p a{
    color: #fff;
    font-weight: 600;
}
/*--====Bottom-Footer End Here====--*/